@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bubblegum+Sans&family=Fredoka:wght@300..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #ff6b35;
  --color-dark: #1a1a1a;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

.hero-text {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 91px;
  line-height: 109px;
  color: rgb(255, 255, 255);
  font-style: normal;
  letter-spacing: -0.01em;
}

.hero-text-orange {
  color: #ff6b35;
}

/* Test class for Space Grotesk font */
 .test-space-grotesk {
  font-family: "Space Grotesk", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
}